<% include ./partials/header %>
<form action = "/login" method="post">
    <input tpye = "text" name="username" placeholder="username">
    <input tpye = "text" name="password" placeholder="password">
    <button>submit</button>
</form>
<% include ./partials/footer %>