<% include ./partials/header %>
<h1>this is register</h1>
<form action = "/register" method="post">
    <input tpye = "text" name="username" placeholder="username">
    <input tpye = "text" name="password" placeholder="password">
    <button>submit</button>
</form>
<% include ./partials/footer %>